.page-accueil {
    background-image: url("images/background.png");  /* chemin vers ton image */
    background-size: cover;                    /* couvre tout l'écran */
    background-repeat: no-repeat;              /* pas de répétition */
    background-position: center;               /* bien centrée */
    min-height: 100vh;                         /* prend toute la hauteur visible */
    margin: 0;
  }